<div class="container jumbotron">

  <h2>Registered genres: </h2>
  <hr />

  <table class="table table-hover table-striped">
    <thead>
    <th>Description</th>
    <th>Active</th>
    <th>Actions</th>
    </thead>

    <tbody>
      <tr *ngFor="let genre of genres | async">
        <td>{{genre.description}}</td>
        <td>{{genre.active}}</td>
        <td>
          <button class="btn btn-info" (click)="view(genre.id)">View</button>
          <button class="btn btn-info ml-2"  (click)="edit(genre, genre.id)">Edit</button>
          <button class="btn btn-danger ml-2" (click)="delete(genre.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
